<section class="w-full flex flex-col">
    <mat-divider>
    </mat-divider>
    <ul class="flex w-full justify-evenly">
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-blue-700"><mat-icon>chat</mat-icon></a>
            <span>Chats</span>
        </li>
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-neutral-400"><mat-icon>videocam</mat-icon></a>
            <span>Videocams</span>
        </li>
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-neutral-400"><mat-icon>group</mat-icon></a>
            <span>People</span>
        </li>
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-neutral-400"><mat-icon>auto_awesome_motion</mat-icon></a>
            <span>Histories</span>
        </li>
    </ul>
</section>