<section class="w-full flex flex-wrap bg-white">
    <mat-divider class="w-full"></mat-divider>
    <ul class="flex w-full justify-evenly">
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-blue-700"><mat-icon>chat</mat-icon></a>
            <span class="text-blue-700">Chats</span>
        </li>
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-neutral-400"><mat-icon>videocam</mat-icon></a>
            <span class="text-neutral-400">Videocams</span>
        </li>
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-neutral-400"><mat-icon>group</mat-icon></a>
            <span class="text-neutral-400">People</span>
        </li>
        <li class="flex flex-col items-center justify-center">
            <a mat-icon-button class="text-neutral-400"><mat-icon>auto_awesome_motion</mat-icon></a>
            <span class="text-neutral-400">Histories</span>
        </li>
    </ul>
</section>